@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Tan Mon Cheri';
  src: url('https://cmkkzaeuzndrceftqsnn.supabase.co/storage/v1/object/public/Dripandcare/tan-mon-cheri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    touch-action: manipulation;
    overscroll-behavior-y: none;
  }

  h1, h2, h3 {
    text-transform: uppercase;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  button, a {
    -webkit-touch-callout: none;
    user-select: none;
  }
}

@layer components {
  .nutrient-title {
    font-family: 'Tan Mon Cheri', serif;
  }

  .testimonial-title {
    font-family: 'Tan Mon Cheri', serif;
  }

  .service-title {
    font-family: 'Tan Mon Cheri', serif;
  }
}
